# Environment configuration for development

# Copy this file to .env.local and adjust values as needed

NODE_ENV=development

# Base URL for the backend API server

API_BASE_URL=http://localhost:8080

# Mercado Pago Public Key

NEXT_PUBLIC_API_KEY_MERCADO="Api Key"

# To return all data form the supporters

SUPPORTER_PRODUCT_ID="Product ID"

# Token para forçar o refresh

FORCE_REAUTH="Token de refresh"

# Redis Credentials
REDIS_HOST="host"
REDIS_PORT=port
REDIS_PASSWORD=""

# Rate Limit
REDIS_RATE_LIMIT=1 # Requests
REDIS_RATE_DURATION=1 # Seconds